#confirmationDialog{
    -fx-background-image: url("pepe.jpeg");
    -fx-background-repeat: stretch;   
    -fx-background-size: 900 506;
    -fx-background-position: center center;
    -fx-graphic: url("creepyMoon.png");
    
    -fx-text-fill: #ffffff;
    -fx-effect: dropshadow(three-pass-box, black, 30, 0.5, 0, 0); 
}
#confirmationDialog .label {
    -fx-text-fill: #ff0000;
    -fx-font-size: 46px;
}

#textInputDialog{
    -fx-background-image: url("pepe.jpeg");
    -fx-background-repeat: stretch;   
    -fx-background-size: 900 506;
    -fx-background-position: center center;
    -fx-graphic: url("creepyMoon.png");
    
    -fx-text-fill: #ffffff;
    -fx-effect: dropshadow(three-pass-box, black, 30, 0.5, 0, 0); 
}
#textInputDialog .label {
    -fx-text-fill: #ff0000;
    -fx-font-size: 46px;
}

#formatWarningDialog{
    -fx-background-image: url("pepe.jpeg");
    -fx-background-repeat: stretch;   
    -fx-background-size: 900 506;
    -fx-background-position: center center;
    -fx-graphic: url("creepyMoon.png");
    
    -fx-text-fill: #ffffff;
    -fx-effect: dropshadow(three-pass-box, black, 30, 0.5, 0, 0); 
}
#formatWarningDialog .label {
    -fx-text-fill: #ff0000;
    -fx-font-size: 46px;
}

.button:hover {
    -fx-background-color: #B118C8
}

#title {
    -fx-font: 100px Tahoma;
    -fx-fill: linear-gradient(from 0% 0% to 100% 200%, repeat, aqua 0%, red 50%);
    -fx-stroke: black;
    -fx-stroke-width: 1;
}